@using PrjIntegrado.Models;

@model List<Manutencao>

@{
    Layout = null;
}

@{
    List<Tecnico> tecnicos = new List<Tecnico>();
    List<Impressora> impressoras = new List<Impressora>();
    List<string> datas = new List<string>();

    tecnicos = (List<Tecnico>)ViewData["tecnicos"];
    impressoras = (List<Impressora>)ViewData["impressoras"];
}

@RenderPage("~/Views/Shared/Header.cshtml")
@RenderPage("~/Views/Shared/Menu.cshtml")


<div class="col-md-10 col-sm-10 col-xs-8">
    <div class="content">
        <div class="title">
            <h2>
                Manutenções
            </h2>
        </div>
        <form action="@Url.Action("Search", "Manutencao")" method="post">
            <div class="input col-md-5">
                <input type="date" name="nome" class="form-control">
            </div>
            <div>
                <button type="submit" name="buscaDefeito" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </form>
        <hr>
        <div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Defeito</th>
                        <th>Data</th>
                        <th>Técnico</th>
                        <th>Impressora</th>
                        <th>Valor Gasto</th>
                        <th>Alterar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    @if (((List<Manutencao>)ViewBag.List).Count() == 0)
                    {
                        <div class="alert alert-info">
                            <p>Não existe nenhuma manutenção cadastrada. </p>
                        </div>
                    }
                    @foreach (var item in (List<Manutencao>)ViewBag.List)
                    {
                        <tr>
                            <td>@item.Defeito</td>
                            <td> @item.Data  </td>
                            @foreach (var tecnico in tecnicos)
                            {
                                if (item.Id_tecnico == tecnico.Id)
                                {
                                    <td>@tecnico.Nome</td>
                                }
                            }
                            @foreach (var impressora in impressoras)
                            {
                                if (item.Id_impressora == impressora.Id)
                                {
                                    <td>@impressora.Nome</td>
                                }
                            }
                           
                            <td>@item.Valor_gasto</td>
                            <td style="text-align: center">
                                <form action="@Url.Action("Update", "Manutencao", new {id = item.Id})" method="post">
                                    <input type="hidden" name="excluir" value="@item.Id" />
                                    <button type="submit" name="atualizar" class="btn btn-warning" item-id="@item.Id">
                                        <span class="glyphicon glyphicon-edit"></span> Editar
                                    </button>
                                </form>
                            </td>
                            <td style="text-align: center">
                                <form action="@Url.Action("Delete", "Manutencao")" method="post">
                                    <input type="hidden" value="@item.Id" name="excluir" />
                                    <button type="submit" onclick="excluir()" name="excluir" id="exclude-button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir">
                                        <span class="glyphicon glyphicon-trash"></span> Excluir
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modalAdicionar" alt="Adicionar">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAdicionar" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adicionar Manutenção</h4>
            </div>
            <div class="modal-body">
                @if (ViewData["errorMsg"].Equals(""))
                {

                }
                else
                {
                    <p class="alert alert-danger">@ViewData["errorMsg"]</p>
                }                
                <form action="@Url.Action("Insert", "Manutencao")" method="POST" class="form-group" onsubmit="validate()">
                    <div class="row">
                        <div class="col-md-6">
                            <!---OLAAA-->
                            <img src="~/Img/manutencao.jpg" />
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="hidden" id="edit-manutencao" name="id_manutencao" value="">
                                <label for="defeito">Defeito</label>
                                <input class="form-control" required maxlength="45" type="text" name="defeito" maxlength="20">

                                <label for="data">Data</label>
                                <input class="form-control" required maxlength="45" type="date" name="data" maxlength="20">

                                <label for="id-tecnico">Técnico</label>
                                <select name="tecnicos" class="form-control" required>
                                   @foreach (var tecnico in tecnicos)
                                   {
                                       <option value="@tecnico.Id">@tecnico.Nome</option>
                                   }
                                </select>                                

                                <label for="id-impressora">Impressora</label>
                                <select name="impressoras" class="form-control" required>
                                    @foreach (var impressora in impressoras)
                                    {
                                        <option value="@impressora.Id">@impressora.Nome</option>
                                    }
                                </select>

                                <label for="valor-gasto">Valor gasto</label>
                                <input class="form-control" required maxlength="45" type="number" name="valor-gasto" maxlength="20">
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <div class="padding">
                        <input type="submit" name="cadastrar" value="Salvar" class="btn btn-info">
                        <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@RenderPage("~/Views/Shared/Footer.cshtml")
