@using PrjIntegrado.Models;

@model List<Manutencao>

@{
    Layout = null;
}

@{
    Manutencao aux = new Manutencao();
    aux = (Manutencao)ViewData["Manutencao"];

    List<Tecnico> tecnicos = new List<Tecnico>();
    List<Impressora> impressoras = new List<Impressora>();

    tecnicos = (List<Tecnico>)ViewData["tecnicos"];
    impressoras = (List<Impressora>)ViewData["impressoras"];
}

@RenderPage("~/Views/Shared/Header.cshtml")
@RenderPage("~/Views/Shared/Menu.cshtml")
<form action="@Url.Action("Save", "Manutencao")" method="POST" class="form-group" onsubmit="validate()">
    <div class="row">
        <div class="col-md-6">
            <h4 style="margin-left:10%">EDIÇÃO DE MANUTENÇÕES</h4>
        </div>
        <div class="col-md-6" style="float:right; margin-top:5%">
            <img src="~/Img/manutencao.jpg" width="20%" />
        </div>
        <div class="form-group">
            <div class="col-md-8" style="margin-top: -11%;margin-left:5%">
                <input type="hidden" id="edit-manutencao" name="id_manutencao" value="@aux.Id">
                <label for="defeito">Defeito</label>
                <input class="form-control" required maxlength="45" type="text" name="defeito" maxlength="20" value="@aux.Defeito">

                <label for="data">Data</label>
                <input class="form-control" required maxlength="45" type="date" name="data" maxlength="20" value="@aux.Data">

                <label for="id-tecnico">Técnico</label>
                <select name="tecnicos" class="form-control" required selected="@aux.Id_tecnico">
                    @foreach (var tecnico in tecnicos)
                    {
                        <option value="@tecnico.Id">@tecnico.Nome</option>
                    }
                </select>

                <label for="id-impressora">Impressora</label>
                <select name="impressoras" class="form-control" required>
                    @foreach (var impressora in impressoras)
                    {
                        <option value="@impressora.Id">@impressora.Nome</option>
                    }
                </select>

                <label for="valor-gasto">Valor gasto</label>
                <input class="form-control" required maxlength="45" type="number" name="valor-gasto" maxlength="20" value="@aux.Valor_gasto">
            </div>
            <br><br>
        </div>
    </div>
    <div class="padding" style="margin-left: 23%; margin-top:3%">
        <input type="submit" name="cadastrar" value="Salvar" class="btn btn-info">
        <button type="button" class="btn" data-dismiss="modal" onclick="@("window.location.href='" + @Url.Action("Index", "Manutencao") + "'");">Cancelar</button>
    </div>
</form>
@RenderPage("~/Views/Shared/Footer.cshtml")
