@using PrjIntegrado.Models;

@model List<Impressora>

@{
    Layout = null;
}

@{
    List<int> ids = new List<int>();
    ids = (List<int>)ViewData["lojas"];
    Impressora aux = new Impressora();
    aux = (Impressora)ViewData["Impressora"];
}

@RenderPage("~/Views/Shared/Header.cshtml")
@RenderPage("~/Views/Shared/Menu.cshtml")

<form action="@Url.Action("Save", "Impressora")" method="POST" class="form-group" id="editing">
    <div class="row">
        <div class="col-md-6">
            <h4 style="margin-left:10%">EDIÇÃO DE IMPRESSORA</h4>
        </div>
        <div class="col-md-6" style="float:right; margin-top:5%">
            <img src="~/Img/impressora-icone.jpg" width="20%" />
        </div>
        <div class="form-group">
            <div class="col-md-6" style="margin-top: -11%;margin-left:5%">
                <input type="hidden" id="edit-id" name="id_impressora" value="@aux.Id">
                <label for="nome">Nome</label>
                <input class="form-control" required maxlength="45" type="text" name="nome" value="@aux.Nome" maxlength="20">
                <label for="marca">Marca</label>
                <input class="form-control" required maxlength="45" type="text" name="marca" value="@aux.Marca" maxlength="20">
                <label for="tipo-tinta">Tipo de tinta</label>
                <input class="form-control" required maxlength="45" type="text" name="tipo-tinta" value="@aux.Tipo_tinta" maxlength="20">
                <input type="hidden" name="idloja" value="@aux.Id_loja" />
                <label for="id-loja">Id da loja</label>
                <select class="form-control" required name="id-loja">
                    @foreach (var item in ids)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <br><br>
        </div>
    </div>
    <div class="padding" style="margin-left: 23%; margin-top: 3%">
        <input type="submit" name="cadastrar" value="Salvar" class="btn btn-info">
        <button type="button" class="btn" data-dismiss="modal"onclick="@("window.location.href='" + @Url.Action("Index", "Impressora") + "'");">Cancelar</button>
    </div>
</form>
@RenderPage("~/Views/Shared/Footer.cshtml")
