
@using PrjIntegrado.Models;

@*@model List<SolicitarPapel>*@

@{
    Layout = null;
}

@{

    List<TipoPapel> TipoPapel = new List<TipoPapel>();
    TipoPapel = (List<TipoPapel>)ViewData["TipoPapel"];

    List<SolicitarPapel> list = new List<SolicitarPapel>();
    list = (List<SolicitarPapel>)ViewData["list"];

}

@RenderPage("~/Views/Shared/Header.cshtml")
@RenderPage("~/Views/Shared/Menu.cshtml")


<div class="col-md-10 col-sm-10 col-xs-8">
    <div class="content">
        <div class="title">
            <h2>
                Solicitação de papel
            </h2>
        </div>
        @if (TempData["notice"] != null)
        {
            <p class="alert alert-info"> Operação concluída. </p>
        }
        <form action="@Url.Action("Search", "SolicitarPapel")" method="post">
            <div class="input col-md-3">
                <input type="text" name="nome" class="form-control" placeholder="Digite o nome do tipo de papel desejado">
            </div>
            <div>
                <button type="submit" name="buscaSolicitacao" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </form>
        <hr>
        <div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Código da solicitação</th>
                        <th>Tipo</th>
                        <th>Tamanho</th>
                        <th>Gramatura</th>
                        <th>Alterar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    @if (list.Count() == 0)
                    {
                        <div class="alert alert-info">
                            <p>Não existe nenhuma solicitação cadastrada. </p>
                        </div>
                    }
                    
                    @foreach (var item in list) 
                    {

                        <tr>
                            <td>@item.Ids</td>
                            @foreach (var item2 in TipoPapel)
                            {
                                if (item2.Id == item.IdTipo)
                                {
                                    <td>@item2.Tipo</td>
                                    <td>@item2.Tamanho</td>
                                    <td>@item2.Gramatura</td>
                                }

                            }

                            <td style="text-align: center">
                                <form action="@Url.Action("Update", "SolicitarPapel", new {IdTipo = item.Ids})" method="post">
                                    <input type="hidden" name="excluir" value="@item.Ids" />
                                    <button type="submit" name="atualizar" class="btn btn-warning" item-id="@item.Ids">
                                        <span class="glyphicon glyphicon-edit"></span> Editar
                                    </button>
                                </form>
                            </td>
                            <td style="text-align: center">
                                <form action="@Url.Action("Delete", "SolicitarPapel")" method="post" onsubmit="return validate(this);">
                                    <input type="hidden" value="@item.Ids" name="excluir" />
                                    <button type="submit" onclick="excluir()" name="excluir" id="exclude-button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir">
                                        <span class="glyphicon glyphicon-trash"></span> Excluir
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modalAdicionar" alt="Adicionar">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAdicionar" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adicionar nova Solicitação</h4>
            </div>
            <div class="modal-body">
                @if (ViewData["errorMsg"].Equals(""))
                {

                }
                else
                {
                    <p class="alert alert-info">@ViewData["errorMsg"]</p>
                }
                <form action="@Url.Action("Insert", "SolicitarPapel")" method="POST" class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="~/imagem/papel-icone.png" width="70%" />
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="hidden" id="edit-solicitacao" name="id_solicitacao" value="escolha">
                               
                                
                                <label for="id-tipo">Tipo e tamanho</label>
                                <select name="tipo_papel" class="form-control" required>
                                    @foreach (var tipo_papel in TipoPapel)
                                    {
                                        
                                        <option name="escolha" value="@tipo_papel.Id">@tipo_papel.Tipo @tipo_papel.Tamanho</option>
                                        
                                    }
                                </select>

                               
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <div class="padding" style="margin-left:60%">
                        <input type="submit" name="cadastrar" value="Salvar" class="btn btn-info">
                        <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@RenderPage("~/Views/Shared/Footer.cshtml")
<script type="text/javascript">
    function validate(form) {
        return confirm('Deseja realmente deletar esse registro?');
    }
</script>