@using PrjIntegrado.Models;

@{ 
    Tecnico aux = new Tecnico();
    aux = (Tecnico)ViewData["Tecnico"];
}

@{
    Layout = null;
}

@RenderPage("~/Views/Shared/Header.cshtml")
@RenderPage("~/Views/Shared/Menu.cshtml")
<form action="@Url.Action("Save", "Tecnico")" method="POST" class="form-group">
    <div class="row padding">
        <div class="col-md-6">
            <h4 style="margin-left:10%">EDIÇÃO DE TÉCNICO</h4>
        </div>
        <div class="col-md-6" style="float:right; margin-top:4%">
            <img src="~/Img/funcionario.png" width="20%" />
        </div>
        <div class="form-group">
            <div class="col-md-8" style="margin-top: -11%;margin-left:5%">
                <input type="hidden" id="edit-tecnico" name="id_tecnico" value="@aux.Id">
                <label for="nome">Nome</label>
                <input class="form-control" required maxlength="45" type="text" name="nome" value="@aux.Nome">
                <label for="nome">CPF</label>
                <input class="form-control" required maxlength="45" type="text" name="cpf" value="@aux.Cpf">
            </div>
            <br><br>
        </div>
    </div>
    <div class="padding" style="margin-left: 23%; margin-top:-4%">
        <input type="submit" name="cadastrar" value="Salvar" class="btn btn-info">
        <button type="button" class="btn" data-dismiss="modal" onclick="@("window.location.href='" + @Url.Action("Index", "Tecnico") + "'");">Cancelar</button>
    </div>
</form>
@RenderPage("~/Views/Shared/Footer.cshtml")