@using PrjIntegrado.Models;

@{
    TipoPapel aux = new TipoPapel();
    aux = (TipoPapel)ViewData["TipoPapel"];
}

@{
    Layout = null;
}

@RenderPage("~/Views/Shared/Header.cshtml")
@RenderPage("~/Views/Shared/Menu.cshtml")
<div class="col-md-6">
    <h4 style="margin-left:10.1%">EDIÇÃO DE IMPRESSORA</h4>
</div>
<form action="@Url.Action("Save", "TipoPapel")" method="POST" class="form-group">
    <div class="row padding">
        <div class="col-md-6" style="float:right; margin-top:5%">
            <img src="~/Img/papel-icone.png" width="20%" />
        </div>
        <div class="form-group" >
            <div class="col-md-8" style="margin-top: -11%;margin-left:5%">
                <input type="hidden" id="edit-tipo" name="id_tipo" value="@aux.Id">

                <label for="tipo">Tipo</label>
                <input class="form-control" required maxlength="45" type="text" name="tipo" value="@aux.Tipo">
                <br>
                <label for="tamanho">Tamanho</label>
                <input class="form-control" required maxlength="45" type="text" name="tamanho" value="@aux.Tamanho">
                <br>
                <label for="gramatura">Gramatura</label>
                <input class="form-control" required maxlength="45" type="text" name="gramatura" value="@aux.Gramatura">

            </div>
            <br><br>
        </div>
    </div>
    <div class="padding" style="margin-left: 23%;margin-top:2%">
        <input type="submit" name="cadastrar" value="Salvar" class="btn btn-info">
        <button type="button" class="btn" data-dismiss="modal" onclick="@("window.location.href='" + @Url.Action("Index", "TipoPapel") + "'");">Cancelar</button>
    </div>
    
    
</form>
@RenderPage("~/Views/Shared/Footer.cshtml")


